


.management-page {
    display:grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: minmax(13vh, auto) minmax(87vh, auto);
    grid-template-areas: 
        "header header"
        "container container"
    ;
    overflow-x: hidden !important;
}

.management-page .header {
    grid-area: header;
    display:flex;
    align-items: center;
    padding-left: 2rem;
    gap: 2rem;
}

.management-page .header h1 {
    font-size: 1.7rem !important;
}

.management-page .header h1 i {
    margin-right: 0.5rem;
}

.management-page .header .btn-new-product {
    border: none;
    border-radius: 35px;
    width: 10rem;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: var(--shadow-sm);
    background-color: var(--green);
    color: white;
}

.management-page .container {
    grid-area: container;
    padding-left: 2rem;
    display:flex;
    justify-content: center;
    flex-direction: column;
    
}

.management-page .container .table-container {
    border-radius: 35px;
    box-shadow: var(--shadow);
    width: 97%;
    height: 95%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    overflow-y: auto;
    position: relative;
}

.management-page .container .table-container .table .table-img {
    height: 36px;
    width: 60px;
    object-fit: contain;
    object-position: center;
    padding: 0.1rem;
}

.management-page .container .table-container .table-fallback{
    background-color: var(--gray-light);
    border-radius: 35px;
    padding: 1rem;
    text-align: center;
    width: 90%;
    position: absolute;
    right:0;
    left:0;
    margin: 0 auto !important;
}

.management-page .container .table-container .table .truncate{
    display: inline-block;
    width: 100px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.management-page .container .table-container .table .actions {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.management-page .container .table-container .table .actions .edit,
.management-page .container .table-container .table .actions .delete {
    cursor:pointer
}

.management-page .container .table-container .table .actions .delete:hover {
    color: var(--wine);
    font-size: 2rem;
    transition: font-size ease-in-out 500ms;
}

.management-page .container .table-container .table .actions .edit:hover{
    color: var(--blue);
    font-size: 2rem;
    transition: font-size ease-in-out 500ms;
}